/*------------------LAYOUT-------------------------*/

.l-head, .l-main, .l-footer
  display: flex
  justify-content: center
  padding: 15px


.l-head
  top: 0
  flex-direction: column
  align-items: center

.l-main
  margin: 10px auto
  max-width: 960px

.l-footer
  left: 0
  bottom: 0
  width: 100%
  padding: 3px
  position: sticky

.l-icon-github
  height: 32px
  width: 32px
  border-radius: 16px
  display: block
  background-size: contain

.l-menu
  width: 100%
  padding: 20px


.l-copyright
  font-size: 12px
  margin: 0px
